<p>
  When graduating from college I decided to make a list of various tech companies
  in Boston that I could apply for jobs at. After a while I decided it would better
  if this list were reachable on the internet. Shortly after I found
  <a href="http://nytm.org/made">this website</a> which listed tech companies coded
  in New York and whether they were hiring. The rest is history.
</p>
