<h3>FAQs</h3>
<dl>
  <dt>How can I get on this list?</dt>
  <dd>
    By emailing me at <%= mail_to 'griffindy@gmail.com' %> with the name of your
    company, a website, and a short description.
  </dd>
  <dt>My company is listed here and I don't want it to be, can it be removed?</dt>
  <dd>
    It certainly can! Just email me at <%= mail_to 'griffindy@gmail.com' %> and I
    hope no offense was taken.
  </dd>
  <dt>Who created this site?</dt>
  <dd>
    I did! My name is Dylan Griffin, and I am currently a student at Wesleyan University
    to be followed (very shortly now!) by an apprenticeship at <%= link_to 'thoughtbot', 'http://thoughtbot.com' %>.
    You can find my website <%= link_to 'here', 'http://dylangriff.in' %>.
  </dd>
</dl>
