<% @companies.each do |company| %>
  <p>
    <h4><%= link_to company.name, company.website %></h4>
    <%= company.description %>
    <% if company.hiring %>
      (<%= company.name %> is hiring!)
    <% end %>
  </p>
<% end %>
